<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<center>
		<header> <h1>1001722318</h1> </header>
		<br> <br>
		<header> <h1>Varshini Thatiparthi</h1> </header>

		<h1> Updated Successfully</h1>
		<br> <br>


		<form method="POST" action="{{ url_for('update') }}" enctype=multipart/form-data >
         Input name<input type = "text" name = "nam" />
         Keyword<input type = "text" name = "desc" />
         <input type = "submit" name = "Update"/>
      </form>


  </center>
      <a href="/">Home Page</a><br>
</head>
<body>

</body>
</html>